@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;

  .hero {
    background: url("./assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 0px 2px rgba(51, 51, 51, 0.4);
  }
}

.bg-gradient {
  background: linear-gradient(105.31deg, #275336 -3.2%, #5D7C3F 108.38%);
}

.text-gradient {
  background: linear-gradient(105.31deg, #275336 -3.2%, #5D7C3F 108.38%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}